<div class="span-10">
  <h2>New Entries</h2>
  <table>
  <% @entries.each do |e| %>
    <tr>
      <td><%= e.entered.strftime("%m/%d %H:%M") rescue nil %></td>
      <td><a href="/p/<%= e.owner %>/<%= e.name %>"><%= e.nwo[0, 30] rescue nil %></a></td>
      <td><a href="http://github.com/<%= e.owner %>/<%= e.name %>">(code)</a></td>      
    </tr>
  <% end %>
  </table>
</div>

<div class="span-11 last">
  <h2>New Scores</h2>
  <table>
  <% @scores.each do |s| %>
    <tr>
      <td><%= s.push.entered.strftime("%m/%d %H:%M") rescue nil %></td>
      <td><a href="/p/<%= s.contest_entry.nwo rescue nil %>"><%= s.contest_entry.nwo[0, 30] rescue nil %></a></td>
      <td><%= s.score %></td>
      <td><%= ((s.score.to_f / 4788.0) * 100).to_s[0, 5] %>%</td>
    </tr>
  <% end %>
  </table>
</div>

<div class="span-21">
  <h2>Latest Pushes</h2>
  <table>
  <% @pushes.each do |e| %>
    <tr>
      <td><%= e.entered.strftime("%m/%d %H:%M") rescue nil %></td>
      <td><a href="/p/<%= e.contest_entry.nwo rescue nil %>"><%= e.contest_entry.nwo rescue nil %></a></td>
      <td><a href="http://github.com/<%= e.contest_entry.nwo rescue nil %>/commit/<%= e.sha rescue nil %>"><code><%= e.sha[0,6] rescue nil %></code></td>
      <td><%= e.message %></a></td>
      <td><%= e.score.score rescue nil %></a></td>
    </tr>
  <% end %>
  </table>
</div>