<div class="span-10">
  <h2>New Entries</h2>
  <table>
  <% @entries.each do |e| %>
    <tr>
      <td><%= e.name %></td>
      <td><%= e.owner %></td>
    </tr>
  <% end %>
  </table>
</div>

<div class="span-10 last">
  <h2>New Scores</h2>
  <table>
  <% @scores.each do |e| %>
    <tr>
      <td><%= e.contest_entry.nwo rescue nil %></td>
      <td><%= e.score %></td>
    </tr>
  <% end %>
  </table>
</div>

<div class="span-21">
  <h2>Latest Pushes</h2>
  <table>
  <% @pushes.each do |e| %>
    <tr><td><%= e.attributes %></td></tr>
  <% end %>
  </table>
</div>