<h1>Entries</h1>
<% @entries.each do |e| %>
  <%= e.name %><br/>
  <%= e.attributes %><br/>
<% end %>

<h1>Pushes</h1>
<% @pushes.each do |e| %>
  <%= e.attributes %><br/>
<% end %>

<h1>Scores</h1>
<% @scores.each do |e| %>
  <%= e.score %><br/>
  <%= e.attributes %><br/>
<% end %>