<div class="span-21" id="welcome">
  <h1>GitHub Contest Leaderboard</h1>
  <p></p>
</div>

<div class="span-5">
  &nbsp;
</div>

<div class="span-11">
  <center>
  <table class="leaderboard">
  <% @entries.each do |e| %>
    <tr>
      <td><a href="http://github.com/<%= e.owner %>/<%= e.name %>">(code)</a></td>
      <td><%= e.owner %>/<%= e.name %></td>
      <td><%= e.highscore %></td>
      <td><%= ((e.highscore.to_f / 4788.0) * 100).to_s[0, 5] %>%</td>
    </tr>
  <% end %>
  </table>
  </center>
</div>

<div class="span-5 last">
  &nbsp;
</div>
