<div class="span-21" id="welcome">
  <h1>Entry: <%= @entry.nwo %></h1>
  <p></p>
</div>

<div class="span-4">
  &nbsp;
</div>

<div class="span-13">
  <center>
  <table>
    <tr>
      <th>Entry</th>
      <td><a href="http://github.com/<%= @entry.nwo %>"><%= @entry.nwo %></a></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @entry.description %></td>
    </tr>
    <tr>
      <th>Homepage</th>
      <td><%= @entry.homepage %></td>      
    </tr>
    <tr>
      <th>High Score</th>
      <td><strong><%= @entry.highscore %></strong></td>
    </tr>
  </table>
  
  <h2>Scores</h2>
  <table>
  <% @entry.scores.reverse.each do |s| %>
    <tr>
      <td><%= s.push.entered.strftime("%Y-%m-%d") rescue nil %></td>
      <td><strong><%= s.score %></strong></td>
      <td><%= ((s.score.to_f / 4788.0) * 100).to_s[0, 5] %>%</td>
      <td><%= s.push.ref rescue nil %></td>
      <td><a href="http://github.com/<%= @entry.nwo %>/commit/<%= s.push.sha rescue nil %>"><code><%= s.push.sha[0,6] rescue nil %></code></td>
    </tr>
  <% end %>
  </table>
  </center>
</div>

<div class="span-4 last">
  &nbsp;
</div>