<div class="span-21" id="welcome">
  <h1>Entry: <%= @entry.nwo %></h1>
  <p></p>
</div>

<div class="span-4">
  &nbsp;
</div>

<div class="span-13">
  <center>
  <table>
    <tr>
      <th>Entry</th>
      <td><a href="http://github.com/<%= @entry.nwo %>"><%= @entry.nwo %></a></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @entry.description %></td>
    </tr>
    <tr>
      <th>Homepage</th>
      <td><%= @entry.homepage %></td>      
    </tr>
  </table>
  
  <table>
  <% @entry.scores.reverse.each do |s| %>
    <tr>
      <td><%= s.entered.strftime("%Y-%m-%d") rescue nil %></td>
      <td><%= s.score %></td>
      <td><%= s.ref %></td>
      <td><code><%= s.sha[0,6] rescue nil %></code></td>
    </tr>
  <% end %>
  </table>
  </center>
</div>

<div class="span-4 last">
  &nbsp;
</div>